{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    [
      "env", {
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
